<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.cryse.novelreader">

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.SmoothReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SmoothTheme.Light"
        tools:replace="android:icon">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NovelChapterListActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ui.NovelReadViewActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ui.NovelDetailActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ui.FadeTransitionActivity"
            android:label="@string/app_name"
            android:theme="@style/TransparentActivity"/>

        <provider
            android:name="org.cryse.novelreader.data.provider.NovelReaderContentProvider"
            android:authorities="org.cryse.novelreader.data.provider"
            android:exported="false" />
        <service android:name=".service.ChapterContentsCacheService"/>
        <service android:name=".service.LocalFileImportService" />
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Test" />
    </application>

</manifest>
